tr td:nth-child(odd){
    text-align: right;
}
tr td:nth-child(even){
    text-align: left;
}
input{
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px;
    width: 300px;
}
td{
    padding: 5px;
}
.form{
    width: 500px;
}
.password-change{
    margin: 20px auto;
}
.box-header{
    margin-bottom: 10px;
}
