{% extends "base_with_sidebar.html" %}

{% block title %}
    添加新帖
{% endblock %}

{% block script %}
<script src="/static/js/api/add_post.js"></script>
<script src="/static/js/add_post.js"></script>
{% endblock %}

{% block css%}
{{ super() }}
<link rel="stylesheet" href="/static/css/add_post.css">
{% endblock %}

{% block main %}
<div class="div-post-form">
    <div class="post-title">
        <p>标题</p>
        <input class="input-post-title" type="text" name="title" value="">
        <p class="post-title-message message">
            标题请输入2-30个字符
        </p>
    </div>
    <div class="post-content">
        <p>内容</p>
        <textarea class="input-post-content font-size-16" name="content"></textarea>
        <p class="post-content-message message">
            内容请输入10-1000个字符
        </p>
    </div>
    <div class="post-node">
        <p>节点选择</p>
        <select class="select-node font-size-16" name="node_id">
            {% for n in node_list%}
                <option value ="{{n.id}}">{{n.name}}</option>
            {% endfor %}
        </select>
        <p class="post-node-message message">
            节点选择
        </p>
    </div>
    <div class="post-action clearfix">
        <button class="btn btn-post-add" type="submit">提交</button>
    </div>
</div>
{% endblock %}
