{% extends "base_with_sidebar.html" %}
{% block title %}
首页
{% endblock %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block main %}
<div class="div-node-all">
    {% for n in node_list %}
        <a class="node-item
    {% if n.name == selected_node.name%}
        node-selected
    {% endif %}
        " href="/?node={{n.name}}">{{n.name}}</a>
    {% endfor %}
</div>
<div class="div-post-list">
    {% if post_list == [] %}
    <div class="no-post">
        <a class="btn-new-post" href="/post/new">创建一个新主题>></a>
    </div>
    {% endif %}
    {% for p in post_list %}
        <div class="post-item inner-box clearfix">
            <div class="post-user-avatar float-left">
                <img class="img-middle" src="{{p.user.avatar}}" alt="" />
            </div>
            <div class="post-item-right float-left">
                <div class="post-title">
                    <a class="my-link" href="{{url_for('post.view', post_id=p.id)}}">{{p.title}}</a>
                </div>
                <div class="post-info">
                    <small>
                        <a class="link-node" href="/?node={{p.node.name}}">{{p.node.name}}</a>
                        <span>&nbsp;•&nbsp;</span>
                        <a class="my-link" href="{{url_for('user.info_view',username=p.user.username)}}">{{p.user.username}}</a>
                        <span>&nbsp;•&nbsp;</span>
                        <span class="post-time">{{p.created_time}}</span>
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
